<p id="notice"><%= notice %></p>

<h1>Listing Notepads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notepads.each do |notepad| %>
      <tr>
        <td><%= notepad.name %></td>
        <td><%= notepad.content %></td>
        <td><%= link_to 'Show', notepad %></td>
        <td><%= link_to 'Edit', edit_notepad_path(notepad) %></td>
        <td><%= link_to 'Destroy', notepad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notepad', new_notepad_path %>
