<p id="notice"><%= notice %></p>


<div class="col-xs-12">
<h1>Listing Notepads<%= link_to 'New Notepad', new_notepad_path, class:"btn btn-default" %></h1>
</div>


<div>
<% @notepads.each do |notepad| %>
    <div class="col-xs-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3><%= notepad.name %></h3>
                <!-- buttons -->
                        <%= link_to 'Show', notepad, class:"btn btn-default" %>
                        <%= link_to 'Edit', edit_notepad_path(notepad), class:"btn btn-default"  %>
                        <%= link_to 'Destroy', notepad, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"  %>
                <!-- buttons -->
            </div> 


            <!-- content -->
            <div class="panel-body">
                <%= notepad.content %>
            </div>
            <!-- content -->
        </div>
    </div>

    <ul class="list-group col-xs-4">
        <li class="list-group-item active">Milestones</li>
        <% notepad.milestones.each do |milestone| %>
        <li class="list-group-item"><%= milestone.name %><span class="badge"><%= milestone.due %></span></li>
        <% end %>
    </ul>


<% end %>

</div>

