<p id="notice"><%= notice %></p>

<h1>Listing Notepads</h1>


<% @notepads.each do |notepad| %>
<div>
<div class="col-xs-8">
  <div class="panel panel-info">
    <div class="panel-heading"><%= notepad.name %></div> 
    <div class="panel-body"><%= notepad.content %></div>
  </div>
</div>
  <ul class="list-group col-xs-4">
    <li class="list-group-item active">Milestones</li>
    <% notepad.milestones.each do |milestone| %>
    <li class="list-group-item"><%= milestone.name %><span class="badge"><%= milestone.due %></span></li>
    <% end %>
  </ul>
  <%= link_to 'Show', notepad %>
  <%= link_to 'Edit', edit_notepad_path(notepad) %>
  <%= link_to 'Destroy', notepad, method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
</div>

<br>

<%= link_to 'New Notepad', new_notepad_path %>
